/*
Custom Css
*/
.card-text {
	display: -webkit-box;
	max-width: 200px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.shop_card-img {
	width: 100%;
	height: 300px;
}

.shop_card-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}