<div class="container my-5">
	<form action="/shop/add" method="POST" enctype="multipart/form-data">
		<div class="mb-3">
			<label for="shop_image" class="form-label">Shop Image</label>
			<input name="shop_image" type="file" class="form-control" id="shop_image">
		</div>
		<div class="mb-3">
			<label for="shop_title" class="form-label">Shop title</label>
			<input type="text" name="shop_title" class="form-control" id="shop_title">
		</div>
		<div class="mb-3">
			<div class="form-group">
				<label class="form-label" for="size">Size</label>
				<input class="form-control" name="size" type="text" id="size">
			</div>
		</div>
		<div class="mb-3">
			<label for="shop_price" class="form-label">Shop price</label>
			<input type="number" name="shop_price" class="form-control" id="shop_price">
		</div>
		<div class="mb-3">
			<div class="form-floating">
				<textarea name="disc" class="form-control" id="shop_disc" placeholder="Shop siscraption"
					style="height: 100px"></textarea>
				<label for="shop_disc">Discraption</label>
			</div>
		</div>
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Barcha ma'lumotlar tayyor</label>
		</div>
		<button type="submit" class="btn btn-primary">Joylash</button>
	</form>
</div>